body {
    background-color: rgb(185, 189, 181);
}

.titulo{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Caveat', cursive;
    
}
.redes{
    display: flex;
    list-style: none;
    justify-content: right;
}


.menu1 :hover{
    background-color: brown;
}
